@model BaiThucHanh.Models.Minh

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("CheckRadio","Newnew")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Minh</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.so1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.so1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.so1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.so2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.so2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.so2, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @Html.RadioButton("PhepTinh", "Cong") Cộng<br>
        @Html.RadioButton("PhepTinh", "Tru") Trừ<br>
        @Html.RadioButton("PhepTinh", "Nhan") Nhân<br>
        @Html.RadioButton("PhepTinh", "Chia") Chia<br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")

</div>
